.HeaderPage3 {
  height: 1700px;
  align-content: center;
  width: 60%;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.753);
  box-shadow: 0px 4px 8px 0px rgba(42, 56, 54, 0.897),
    0px 6px 20px 0 rgba(120, 179, 174, 0.87);
}

.MovieList {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  border: solid 3px black;
  border-radius: 20px;
  margin: 40px;
  height: 1000px;
  width: 700px;
}

.MovieList th {
  font-size: 30px;
}

.MovieList td {
  font-style: italic;
}

.MovieList tr:nth-child(even) {
  background-color: #dddddd;
}
/* FOOTER End*/
.FooterEnd {
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 25px;
  height: 250px;
  width: 95%;
}

/* Last Few Lines*/
lfl {
  text-align: center;
}

lfl ul li {
  display: inline-block;
  text-align: center;
  width: 60px;
  list-style-type: none;
  margin-top: 20px;
  font-size: 25px;
}

lfl > ul > li > a {
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  font-style: serif;
  padding-top: 3px;
}

lfl ul li a:hover {
  background-color: rgb(32, 29, 29);
  border-radius: 25px;
}

/* Line 2 Last*/
lfl2 {
  text-align: center;
}

lfl2 ul li {
  display: inline-block;
  list-style-type: none;
  width: 120px;
}

lfl2 > ul > li > a {
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  font-style: serif;
}

/* Line 3 Last*/
lfl3 {
  text-align: center;
}

lfl3 ul li {
  display: inline-block;
  list-style-type: none;
  width: 240px;
}

lfl3 > ul > li > a {
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  font-style: serif;
}
